@using MyWebApp.Models.File
@model FilesList
<h3>Download files</h3>
@{
    foreach (var item in Model.FileList)
    {
        <a href="@Url.Action("Download", new {file = item.fileDirectory})" class="not-filled recent">@item.Name</a>
        <br>
    }
}
